/* GLOBAL */

#showImage {
  padding: 10px;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 45px;
  text-align: center;
  display: none;
  background-color: orange;
}

#showImage .btn {
  position: absolute;
  top: 5%;
  right: 0px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #3C3C3C;
  color: #00FFBF;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button {
  background-color: white;
  padding: 12px;
}

.contain {
  object-fit: contain;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.outer-container {
    perspective: 250vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
}

.book-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-page {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
}

.image {
  max-width: 30vw;
  border-right: 2px solid #3C3C3C;
}

.card-image {
  max-width: 50vw;
  max-height: 80vh;
  border: 2px solid #3C3C3C;
  transform-origin: 50 50;
  transform-style: preserve-3d;
  transition: transform 1.4s;
  transform: rotateY(0deg);
}

.card-image:hover {
  transform: rotateZ(5deg);
}

.screen-container {
    background-color: var(--background-color);
    width: 716px;
    height: 456px;
    margin-left: -5px;
    margin-top: -4px;
}

.close-container {
  cursor: pointer;
  min-height: 10vh;
  color: white;
  font-size: large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon-close {
  color: white
}

.book {
  transition: opacity 0.4s 0.2s;
}
p{
  margin-top: 8vw;
  text-align: center;
  font-size: 5vw;
  color: #000000;
}
.page:nth-child(even) {
  clear: both;
}
.book {
}
.book .pages {
  width: 60vw;
  height: 44vw;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 4px;
  /*box-shadow: 0 0 0 1px #e3dfd8;*/
}
.book .page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  max-width: 33vw;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
}
.book .page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2;
}
.book .page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(odd):hover {
  transform: rotateY(-15deg);
}
.book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0);
}
.book .page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
}
.book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.grabbing {
  transition: none;
}
.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}
.book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}
.book .page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}
.book .page.flipped:nth-child(even):hover {
  transform: rotateY(15deg);
}
.book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}
.book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}
*,
* :before,
*:after {
  box-sizing: border-box;
}
html,
.page:nth-child(odd){
  background-position: right top;
}

